{% extends "template.html" %}

{% block rightColumn %}
<h1>Welcome to the Gandi UI website!</h1>
<p>
  It's a web version of the repository of the Gandi UI guide lines
  (<a href="https://gitlab.corp.gandi.net/gandi-v5/ui-guidelines">https://gitlab.corp.gandi.net/gandi-v5/ui-guidelines</a>).
</p>

<p>
  The aim of this repository is to gather all designed components, by version.
  For each version, you will find a CHANGELOG and several images for the different usecases.
</p>

<h3>Storybook</h3>

<p>
  Have a look to the Storybook project (<a href="http://admin1.dev.sd3.0x35.net:6902/styleguide">http://admin1.dev.sd3.0x35.net:6902/styleguide</a>)
  that implements components in React for all Gandi React based apps.
</p>
{% endblock %}
